{% extends 'header&footer.html' %}
{% block contenido %}

<div class='terminos'>
      <h1>Acerca de Zinemas </h1>

<h2>Aviso Legal</h2>
<p>Todo el material publicado en Zinemas, ha sido recolectado exclusivamente de sitios públicos de Internet, por lo que este material es considerado de libre distribución y no es responsabilidad nuestra su uso indebido. En ningún artículo legal se menciona la prohibición de material libre por lo que esta página no infringe en ningún caso la ley.<br>

Nosotros no reproducimos, plagiamos distribuimos o comunicamos públicamente películas, series o documentales con derechos de autor. Todos las películas que figuran en esta web son solo enlaces que han sido han sido recolectadas de paginas como vk.com, vimple.ru, youtube.com, etc. Por lo tanto nosotros solo nos limitamos a facilitar la visibilidad de estos videos a través de enlaces de los servidores antes mencionados.<br>

Zinemas.net es una web de entretenimiento e información que no aloja videos, ni almacena ningún tipo de archivo ya sea para streaming o descarga, el único material que contiene son enlaces de webs de libre distribución, por consiguiente vk.com, vimple.ru, youtube.com son plenamente responsables de los contenidos que publiquen.<br>

Si este tipo de contenido esta prohibido en tu país, tú y solo tú eres el responsable de permanecer en esta web. De permanecer aquí quiere decir que has leído, comprendido y aceptas las condiciones de esta página.<br>

Todo la información y programas aquí recogidos van destinados al efectivo cumplimiento de los derechos recogidos en el artículo 31 RD/1/1996 por el que se aprueba el texto refundido de la Ley de la Propiedad Intelectual (LPI) en especial referencia al artículo 31.2 LPI, y en concordancia con lo expresado en el artículo 100.2 de esta misma ley.</p>



<h2>TÉRMINOS Y CONDICIONES DE USO</h2>

<h3>PRIMERA.- CONDICIONES DE ACCESO Y USO</h3>

<p>
1.1.- La utilización del sitio web de EL PROPIETARIO, no conlleva la obligatoriedad de inscripción del USUARIO. Las condiciones de acceso y uso del presente sitio web se rigen estrictamente por la legalidad vigente y por el principio de buena fe comprometiéndose el USUARIO a realizar un buen uso de la web. Quedan prohibidos todos los actos que vulneren la legalidad, derechos o intereses de terceros: derecho a la intimidad, protección de datos, propiedad intelectual etc.
<br>
Expresamente EL PROPIETARIO prohíbe los siguientes:
<br>
1.1.1.- Realizar acciones que puedan producir en el sitio web o a través del mismo por cualquier medio cualquier tipo de daño a los sistemas de EL PROPIETARIO o a terceros.<br>

1.1.2.- Realizar sin la debida autorización cualquier tipo de publicidad o información comercial directamente o de forma encubierta, el envío de correos masivos (“spaming”) o envío de grandes mensajes con el fin de bloquear servidores de la red (“mail bombing”)<br>

1.2.- EL PROPIETARIO, podrá interrumpir en cualquier momento el acceso a su sitio web si detecta un uso contrario a la buena fe o a las presentes condiciones.
</p>

<h3>SEGUNDA.- CONTENIDOS</h3>

<p>
Los contenidos incorporados en este sitio web han sido elaborados e incluidos por:<br>

2.1.- EL PROPIETARIO utilizando fuentes internas y externas de tal modo que EL PROPIETARIO únicamente se hace responsable por los contenidos elaborados de forma interna.<br>

2.2.- Los USUARIOS, a través de colaboraciones o introducción voluntaria de y/a contenidos, tanto gráficos como escritos, directa o indirectamente a través de enlaces o links siendo éstos los únicos responsables de los mismos y quedando expresamente exento EL PROPIETARIO de toda responsabilidad.<br>

EL PROPIETARIO no se hace responsable de las opiniones vertidas por los USUARIOS en esta página, y se reserva el derecho de eliminar cualquier comentario total o parcial que pueda considerar ofensivo o inapropiado. Del mismo modo, en ningún caso EL PROPIETARIO garantizará la publicación de las críticas, listados y puntuaciones recibidas, y se reserva el derecho de eliminarlas sin tener que dar aviso previo o explicación alguna, así como de editarlas y/o hacer uso de ellas como crea conveniente. Además EL PROPIETARIO se reserva el derecho de eliminar cualquier votación, listado, crítica y/o registro parcial o completo de cualquier USUARIO, en especial las críticas consideradas ofensivas o inapropiadas, así como las votaciones que se consideren que tienen un inequívoco intento de manipulación o distorsión de las puntuaciones media. Se adjunta información más precisa en las condiciones de uso.<br>

2.3.- EL PROPIETARIO se reserva el derecho a modificar en cualquier momento los contenidos existentes en su sitio web. EL PROPIETARIO no asegura ni se responsabiliza del correcto funcionamiento de los enlaces a sitios web de terceros que figuren en su web.
</p>


<h3>TERCERA.- RESPONSABILIDAD</h3>

<p>
3.1.- EL PROPIETARIO en ningún caso será responsable de:<br>

3.1.1.- Los fallos e incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones incompletas de manera que no se garantiza que los servicios del sitio web estén constantemente operativos<br>

3.1.2.- De la producción de cualquier tipo de daño que los USUARIOS o terceros pudiesen ocasionar en el sitio web.<br>

3.1.3.- De la fiabilidad y veracidad de las informaciones introducidas por terceros en el sitio web, bien directamente, bien a través de enlaces o links. Asimismo, NICSMEDISA SAC, colaborará y notificará a la autoridad competente estas incidencias en el momento en que tenga conocimiento fehaciente de que los daños ocasionados constituyan cualquier tipo de actividad ilícita.<br>

3.2.- EL PROPIETARIO se reserva el derecho a suspender el acceso sin previo aviso de forma discrecional y con carácter definitivo o temporal hasta el aseguramiento de la efectiva responsabilidad de los daños que pudieran producirse. Asimismo, EL PROPIETARIO colaborará y notificará a la autoridad competente estas incidencias en el momento en que tenga conocimiento fehaciente de que los daños ocasionados constituyan cualquier tipo de actividad ilícita.
</p>
    </div>
{% endblock %}
